.container{
    margin-top: 100px;
}


.profile-picture {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 8px solid #f3c26e; 
    margin-bottom: 20px;
}
.plumb-card{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.plumb-card:hover{
    transform: translateY(-10px);
}
.next-btn{
    margin-left: 600px;
}
.dropdown-margin{
    margin-top: 100px;
    margin-bottom: 5px;
}