.main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.card-image{
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        width: 150px; 
        height: 150px; 
        object-fit: cover;
}
.plumb-link{
    text-decoration: none;
}
.bg-color{
    background-color: rgb(228, 228, 243);
    height: 100px;
    width: 200px;
    margin: 0 auto;    
}
.star-rating {
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messages-container {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.sent {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
    text-align: right;
    border-bottom-right-radius: 0;
}

.received {
    align-self: flex-start;
    background-color: #f1f1f1;
    color: black;
    text-align: left;
    border-bottom-left-radius: 0;
}

.message p {
    margin: 0;
}

.message span {
    font-size: 0.8rem;
    color: gray;
    margin-top: 5px;
}
.message-sender {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 3px;
    color: #333;
}
